<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor == null} ? 'This is my CV' : ${visitor} + ', I hope you interested to hire me'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Curriculum Vitae</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Hidayatul Fikri</h1>
        <p>Hi! I'm a Computer Science student interested in politics who loves to speak up!</p>
        <p>Currently serving you as the Chairman of Law Commission at DPM Fasilkom UI 2019.</p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <h2>Education History</h2>
    <div class="row">
        <div class="col-sm-3">
            <p>SDI Al Syukro</p>
            <img src="https://pbs.twimg.com/profile_images/378800000212947100/a0ac1c0abf93c9ca23d2b8fdea0086ae.jpeg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>MTs Pembangunan UIN</p>
            <img src="http://www.mpuin-jkt.sch.id/frontend/img/site-logo.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>SMAN 8 Jakarta</p>
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b2/Logo_SMAN_8_Jakarta.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Faculty of Computer Science, UI</p>
            <img src="http://1.bp.blogspot.com/-LML_MQrbHbU/VnPevmK4DHI/AAAAAAAABTQ/gM0xB-p3_8g/s1600/UI-fasilkom-b.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br><br>

<footer class="container-fluid text-center">
    <p>Name         : Hidayatul Fikri</p>
    <p>Birthdate    : 21st June 1999</p>
    <p>Birthplace   : Tangerang</p>
    <p>Address      : Gardenia Estate, Ciputat</p>
</footer>
</body>
</html>
